<ion-view view-title="Noticias">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/avatar4.jpg');"></span>
                    <strong>Pedro Aguilar</strong> a seleccionado Na guarra como favorita
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> a las 12:37
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/avatar3.jpg');"></span>
                    <strong>Julian Rodrigez Leon</strong> dice "primera fase de Embrujada en condiciones de dificil acceso... al loroooo"
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> hace 3 horas
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/avatar1.png');"></span>
                    <strong>Sania Alonso</strong> a añadido una nueva ruta...
                    <a class="image"><img src="img/1.jpg">
                    </a>
                    <div class="card-footer text-right">
                        <div class="pull-left">
                        <i class="icon ion-clock"></i> ayer
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
