<ion-view view-title="Foro">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list half">
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Tipo de roca en Espolon demasiado...</h2>
                    <img class="full-image" src="img/avatar1.png">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    Rodky a las 15:35
                </div>
            </div>
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Alguien logro bajar Sor-Presa??</h2>
                    <img class="full-image" src="img/avatar2.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    Samm a las 17:42
                </div>
            </div>
        </div>
        <div class="list half">
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Alexx23 te respondo ahora que he...</h2>
                    <img class="full-image" src="img/avatar3.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    Troll a las 15:35
                </div>
            </div>
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Nivel en la ruta de Santa Ponsa...</h2>
                    <img class="full-image" src="img/avatar4.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    Mike ayer
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
