<ion-view view-title="{{nombre}}" style="overflow: hidden;">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="list animate-fade-slide-in-right" ng-repeat="ruta in rutas" ui-sref="app.item({id_Ruta: ruta.id_Ruta, nombre:ruta.Nombre})">
            <a class="item item-avatar item-icon-right waves-effect waves-button waves-dark in done" style="transition-delay: 0.51s;">
                <img src="../img/{{ruta.id_Ruta}}.png" onerror="if (this.src != 'img/default.png') this.src = 'img/default.png';" style="opacity: 1;">
                <h2>{{ruta.Nombre}}</h2>
                <p>{{ruta.Descripcion}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>