<ion-view view-title="Rutas Pendientes" style="overflow: hidden;">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="list animate-fade-slide-in-right" ng-repeat="pendiente in pendientes" ui-sref="app.item({id_Ruta: pendiente.id_Ruta, nombre:pendiente.Nombre})">
            <a class="item item-avatar item-icon-right waves-effect waves-button waves-dark in done" style="transition-delay: 0.51s;">
                <img src="../img/{{pendiente.id_Ruta}}.png" onerror="if (this.src != 'img/default.png') this.src = 'img/default.png';" style="opacity: 1;">
                <h2>{{pendiente.Nombre}}</h2>
                <p>{{pendiente.Descripcion}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>